p {
    background-color: yellow;
    font-weight: 500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1 {
    background-color: green;
    font-weight: 100;
    text-align:center;
}

li {
    text-align:right;
}

.key-ingredient {
    color: blue;
    background-color: orange;
    font-size:40px;
    font-weight:800;
}